@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>
<img src="~/Images/logo.png" />
<div class="col-md-12">
    <h2>Garages and parking spaces</h2>
    <p>We offer garages and parking spaces with permits so that you can park in your neighbourhood when you need to and to help keep your vehicle safe.  </p>
    <p>
        Visitor & Hourly Garage Parking Rates at Storrs
        Most visitors to UConn’s Storrs campus park in either the North Garage or South Garage, which are open 24 hours per day throughout the calendar year.  The map locations of each garage can be found following the links provided below.

        The maximum duration of a single parking session in either the North Garage or South Garage is 3-days (72-hours) unless a parking session of longer duration is authorized in writing by Parking Services.

        Extended garage stays on the Storrs campus may be made via using our Contact Form message sent to Parking Services.  The owners of vehicles parked for longer than 72-hours in either the North Garage or South Garage without the written authorization and permission of Parking Services may be the subject of citation ($30/violation of posted signage) and towing after 10 days (240 hours); see General Parking Rules and Regulations for additional information.

        Event Basketball Game Rates are charged on game nights.  Those pay-on-entry rates are $9.00/vehicle at the North Garage and $12.00/vehicle at the South Garage.  Event basketball parking rates are also charged on lots adjacent to the North Garage ($9.00/vehicle) and South Garage ($12.00/vehicle) on game nights.
    </p>
</div>
<div class="col-md-12">
    <table border="1">
        North Garage
        103 North Eagleville Road, Storrs CT 06269
        Daily Parking Fee Schedule
        Hour 1 and hour 2	Rate Per Hour
        6AM – 5PM	$2.00/hour
        5PM – 6AM	$1.00/hour
        Hour 3 to hour 10 (added to previous fees)	$1.00/hour
        Maximum fee per 24-hour period	$12.00
        Lost Ticket Fee	$12.00

        South Garage
        505 Jim Calhoun Way, Storrs CT 06269
        Daily Parking Fee Schedule
        Hour 1 and hour 2	Rate Per Hour
        6AM – 5PM	$2.00/hour
        5PM – 6AM	$1.00/hour
        Hour 3 to hour 10 (added to previous fees)	$1.00/hour
        Maximum fee per 24-hour period	$12.00
        Lost Ticket Fee

        </table>
</div>
