@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<div class="col-md-4">
    <h2>Garages and parking spaces</h2>
    <p>We offer garages and parking spaces with permits so that you can park in your neighbourhood when you need to and to help keep your vehicle safe.  </p>

</div>