@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address>
    Palmfeltsvägen 18,<br />
    Johanneshov,Postal adress
     Box 4678
 SE- 116 91 Stockholm<br />
    <abbr title="Phone">Ph:</abbr>
    +46-721255789
</address>

<address>
    <p>Please, do not hesitate to contact us. We will be happy to assist you with further information.</p>
    <strong>Email To:</strong>   <a href="mailto:ParkInnService@parkering.se">ParkInnService@parkering.se</a><br />

</address>