@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ParkInn - Welcome to Park Your Vehicle</h1>
    <p class="lead">The Perfect Parking Garage </p>
   
</div>

    <div class="row">
        <div class="col-md-4">

       </div>
    </div>
