@{
    ViewBag.Title = "Home";
}
<h3 class="text-center">
    @Html.ActionLink("Not A Member? Then Register Now", "Create", "Members", null, new {title = "Register Now! Free Membership."}) </h3>
    
    <div class="row text-center">
        <div class="col-md-12">
            
                <h1 class="text-center">ParkInn - Welcome to Park Your Vehicle</h1>
                <p class="lead">The Perfect Parking Garage </p>

            </div>

           

                </div>
         
