@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>ParkInn - Welcome to Park Your Vehicle</h1>
    <p class="lead">The Perfect Parking Garage </p>
   
</div>
<div class="col-md-4">
    <h2>Garages and parking spaces</h2>
    <p>We offer garages and parking spaces with permits so that you can park in your neighbourhood when you need to and to help keep your vehicle safe.  </p>

</div>
    <div class="row">
        <div class="col-md-4">

            <img src="~/Images/empty.jpg" />

        </div>
    </div>
