body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*background-repeat: no-repeat;*/
    background-image: url('../Images/Parking1.jpg');
    background-size: cover;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
    background-color:turquoise;
    opacity: 0.7;
}
.dl-horizontal dt {
    white-space: normal;
}
input,
select,
textarea {
    max-width: 280px;
}

.main-header {
    padding: 30px 0px 30px 0px;
    /*font-weight: 600;*/
    font-size: 58px;
    font-family: beamweapon;
    text-align: center;
    color: black;
    background-image: url('../Images/traingle.jpg');
    margin-bottom: 40px;
}
    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
    white-space: normal;
}
@font-face {
    font-family: 'beamweapon';
    src: url('../fonts/beamweapon.ttf') format('truetype');
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
